body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#action-container {
    background-color: white;
    width: 100%;
    height: 50px;
}

#input-container {
    position: relative;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 50px;
}

#input-bar {
    background-color: white;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 99%;
    height: 33px;
}

#cell-container {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 0px;
}

table {
    border-collapse: collapse;
    background-color: #fff;
    font-size: 10pt;
    font-family: sans-serif;
}

th {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

td {
    border: 1px solid #ccc;
    width: 50pt;
    height: 16pt;
    padding: 0;
    text-align: right;
}

.hiddenCellText {
    display: none;
}

.bold {
    font-weight: bold;
}

.header {
    background-color: #efefef;
}

.blackBorder {
    border: 1px double #000000;
}

.selected {
    background-color: #e0eeff;
}

.error {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 3px;
}

.errorMessage {
    background-color: white;
    color: black;
    display: block;
    position: absolute;
    border: 1px solid black;
    margin: 15px 10px;
    /*cursor: pointer;*/
}

